_includes_/PHPQRCode/temp*-errors.txt
_includes_/PHPQRCode/test*.png-errors.txt
accounting_portal/
admin_portal/
asds_portal/
bac_portal/
budget_portal/
cashier_portal/
certificate_verifier/
cid_portal/
eps_portal/
health_portal/
hrmo_portal/
ito_portal/
legal_portal/
lrms_portal/
mis_portal/
osds_portal/
payroll_portal/
pcdmis/
physical_portal/
psds_portal/
record_portal/
registration/
school_portal/
sgod_portal/
supply_portal/
uploads/
web.personnel/
confirm.php
logout.php
notification.php

/picture
/temp