/*
# assets/css/custom.css
*/

.background-cover {
  background: url('../img/background.png') no-repeat center center fixed;
  background-size: cover;
}

#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}

#layoutAuthentication #layoutAuthentication_footer {
  min-width: 0;
}

#calendar {
  height: 414px;
  overflow-y: scroll;
}

@media only screen and (max-width: 991px) {
  #login_page {
    flex-direction: column-reverse;
  }

  #login_page .col-lg-8 .card {
    margin-top: 0 !important;
  }

  #login_page .col-lg-4 .card {
    margin-bottom: 2rem !important;
  }
}